/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/page.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/

.container {
  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: white; 
}

.page {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%2Fimages%3Fk%3Dsea&psig=AOvVaw1iWyZWUznkaMEDwv7j8WVE&ust=1714713257272000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPigz-ea7oUDFQAAAAAdAAAAABAJ'); 
  background-size: cover; 
  background-position: center; 
  min-height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

